body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
    }
    
    
    
    .conteiner{
    
       border: 2px solid red;
       width: 600px;
       height: 400px;
       display: flex;
       /*Alinhamento Horizontal*/
       justify-content: space-around;
       align-items: center;
    
    }
    
    .item{

    display: flex;
     background-color: rgb(255, 251, 3);
     border: 1px solid rgb(3, 153, 35);   
     width: 90px;
     height: 90px;

    
    }